/* general */
h2 {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 35px;
}
/* h6{
    color: #fff;
}
h1{
    color: #fff;
} */

a {
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    color: white;
}
img{
    width: 100%;
}
ul{
    list-style-type: none;
    padding: 0;
}


a:hover{
   color: red;
}

/* main */

.sub-header {

    line-height: 25px;
    height: 41px;
}

.li {
    display: inline;
    padding: 10px;
    border-left: 1px solid #ddd;
}

p {
    max-width: 570px;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 40px;
}

.bg-color {
    background-color: #a4c639;
}
.color{
    color: #a4c639;
}
button.bg-color.text-light.p-2.rounded-pill {
    text-transform: uppercase;
    border: 0;
}
section.sec-1 {
    padding-top: 5em;
}

section.sec-2{
    background-image: url(../assets/images/fun-facts-bg.jpg);
    background-attachment: fixed;
}

.count-wrapper {
    text-align: center;
    background-color: rgba(250,250,250,0.1);
    padding: 25px 30px 35px 30px;
    margin: 15px 0px;
}
.count-digit {
    margin: 5px 0px;
    color: #a4c639;
    font-weight: 700;
    font-size: 36px;
}
.count-title {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 0.5px;
}


.inner-content {
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
}

span {
    display: block;
    margin-top: 15px;
    text-transform: uppercase;
    font-size: 15px;
    color: #666;
    letter-spacing: 1px;
}
section.sec-4 {
    padding: 7em 0em 11em 0em;
    margin-top: 11em;
}

footer {
    background-color: #a4c639;
}
.top-menu{
    display: none;
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
}




.show {
    background-image: url(../assets/images/down-arrow-small.png);
    position: fixed;
    right: 10px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    background-size: contain;
    border-radius: 50%;
    cursor: pointer;
    background-color: red;
}

/* slideShow */

.slide{
    display: none;
    position: relative;
}
.slides{
    position: relative;
}
.slide.active{
    display:block;
}

.slide > div > p{
    margin: 0;
    color: #fff;
    padding: 10px;
}

.prev,
.next{
    position: absolute;
    top: 50%;
    background-color: #555;
    padding: 16px;
    color: #fff;
    cursor: pointer;
}
.prev{
left: 0;
border-radius: 0 10px 10px 0;
}
.next{
    right: 0;
    border-radius: 10px 0 0 10px;
}


img{
    width: 100%;
}
 
.bg-1{
    background-image: url(../assets/images/slide_01.jpg);
    padding: 19em;
}
.bg-2{
    background-image: url(../assets/images/slide_02.jpg);
    padding: 19em;
}
.bg-3{
    background-image: url(../assets/images/slide_03.jpg);
    padding: 19em;
}










